/* App.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: beige;  
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
